<h3>CardComponent</h3>
<p>
    The card is @CardName
</p>
<div class="card-container">
    
    <div class="card-header">
        
        <div class="sticker">

        </div>
        <div class="card-type">
            <img src="assets/mastercard.png" alt="card type logo">
        </div>
        
    </div>
    
    <div class="card-input">
        <h5>#### #### #### ####</h5>
    </div>
    
    <div class="card-footer">
        <div class="card-name">
            <h6>
                Card Holder
            </h6>
            <h5>
                AD SOYAD
            </h5>
        </div>
        <div class="card-expire">
            <h6>
                Expires
            </h6>
            <h5>
                MM/YY
            </h5>
        </div>
    </div>
    
</div>

@code {

    [Parameter]
    public string CardName { get; set; }

}